@model PagedList.IPagedList<QualityCaps.Models.Item>
@using System.Web.Mvc.Html
@using PagedList.Mvc;
@using QualityCaps.Models
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Caps";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".AddLink").click(function () {
            // Get the id from the link
            var recordToAdd = $(this).attr("data-id");
            if (recordToAdd != '') {
                // Perform the ajax post
                $.post("~/../ShoppingCart/AddToCart", { "id": recordToAdd },
                    function (data) {
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });
    });
</script>

<!-- Button trigger modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div aria-hidden="true" class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>An item was added to your cart.</strong> To check out now simply <a href="#" class="alert-link">click here</a>.
    </div>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirm check out.</h4>
            </div>
            <div class="modal-body">
                <p>Would you like to check out or keep shopping??</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">Continue</button>
                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Check Out</button>
            </div>
        </div>
    </div>
</div>


<body>

<h2>Order some caps.</h2>
    <br />
    <div>
        <a class="btn btn-info btn-sm" style="width: 15%" href="@Url.Action("Index", "Items", new {currentCatagory = "0"})">All</a>
        @foreach (var catagory in ViewBag.Catagories)
        {
            <a class="btn btn-info btn-sm" style="width: 15%" href="@Url.Action("Index", "Items", new {currentCatagory = catagory})">@catagory.Substring(1)</a>
        }
    </div>
    <br />
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
<div class="bs-docs-section">
    <div class="row">
        @using (Html.BeginForm("Index", "Items", FormMethod.Get))
        {

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Find: </span>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-info btn-sm" value="Search" />
                    </span>
                </div>
            </div>
        }
    </div>
</div>
<table class="table">
    <tr>
        <th>
            Catagorie
        </th>
        <th>
            Supplier
        </th>
        <th>
            @Html.ActionLink("Item Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Item Price", "Index", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Color
        </th>
        <th>
            Picture
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Catagorie.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Credit Card Type</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select">
                            @foreach (var ca in ViewBag.Catagories)
                            {
                                <option>@ca</option>
                            }
                        </select>
                    </div>
                </div>
            </td>
            <td>
                <img src="@Url.Action("RenderImage", new {id = item.ID})" style="width: 100px; height: 100px" />
            </td>
            <td>
                <a href="#" class="AddLink"
                   data-id="@item.ID" data-toggle="modal" data-target="#myModal">
                    Add to cart
                </a>
                <!--@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new {id = item.ID}, new {htmlAttributes = new {@data_toggle = "modal", @data_target = "#myModal"}})--> |
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    <span></span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
</body>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
