@model QualityCaps.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<h3>
    <em>Review</em> your cart:
</h3>
<br/>
<div class="top-right">
    <a style="text-align: right">@Html.ActionLink("Clear Cart", "RemoveAllItems")</a>
</div>
<br />

@{

    if (Model.CartItems.Count > 0) 
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Order Summary</h3>
            </div>
            <div class="panel-body">

                <div id="update-message">
                </div>
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>
                                Item ID
                            </th>
                            <th>
                                Item Name
                            </th>
                            <th>
                                Catagory
                            </th>
                            <th>
                                Supplier
                            </th>
                            <th>
                                Color
                            </th>
                            <th>
                                Price (each)
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr id="row-@item.ItemId" >
                            <td>
                                @item.Item.ID
                            </td>
                            <td>
                                @item.Item.Name
                            </td>
                            <td>
                                @item.Item.Catagorie.Name
                            </td>
                            <td>
                                @item.Item.Supplier.Name
                            </td>
                            <td>
                                @item.Color
                            </td>
                            <td>
                                @item.Item.Price
                            </td>
                            <td id="item-count-@item.ItemId">
                                @item.Count
                            </td>

                        </tr>
                    }
                    <tr class="info">
                        <td>
                            SubTotal
                        </td>
                        <td id="subtotal">
                            @Model.SubTotal
                        </td>
                        <td>
                            Total(GST:15%)
                        </td>
                        <td id="cart-total">
                            @Model.CartTotal
                        </td>
                    </tr>
                </table>
                <button type="button" class="btn btn-success btn-sm" onclick="location.href='@Url.Action("AddressAndPayment", "Checkout")'">
                    Check Out &raquo;
                </button>
            </div>
        </div>
    }
    else
    {
        <div>
            <p>
                There are no items in your cart currently. Please shop for something and add items..
            </p>
        </div>
    }
}